@media screen and (max-width:1200px)
{
    .nav-link{
        font-size: .78rem;
    }

    #hero h2{
        font-size: 1.5rem;
        font-weight: bold;
    }

    #hero h4{
        font-size: 1.2rem;
    }

    #aboutme p{
        font-size: 16px;
    }

    #project h5{
        font-size: .9rem;
    }
}

@media screen and (max-width:768px)
{
    #hero h2{
        font-size: 1.1rem;
        font-weight: bold;
    }

    #hero h4{
        font-size: 1rem;
    }

    #aboutme p{
        font-size: 10px;
    }

    #project h5{
        font-size: .74rem;
    }
}

@media screen and (max-width:576px)
{
    #hero h2{
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
    }

    #hero h4{
        font-size: 1rem;
        text-align: center;
    }

    #aboutme p{
        font-size: 7px;
    }

    #project h5{
        font-size: .3rem;
    }
}

@media screen and (max-width:350px)
{

}
